server:
  port: 8081

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/forme?serverTimezone=Asia/Shanghai
    username: chrt
    password: chrt
    druid:
      initial-size: 10
      max-active: 20
      min-idle: 3

  jpa:
    show-sql: true

  redis:
    host: 127.0.0.1
    port: 6379
    database: 2
    jedis:
      pool:
        max-active: 8
        min-idle: 0
        max-idle: 8
        max-wait: -1ms
    timeout: 5000ms

  thymeleaf:
    cache: false
    encoding: UTF-8
    mode: HTML5
    prefix: classpath:/templates/
    suffix: .html