#home {
    position: absolute;
}

#register {
    position: absolute;
    right: 0;
}

#container {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#container > form {
    flex: 1;
}

label {
    font-size: large;
}

input {
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 10px;
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 10px;
    border-bottom: cyan 1px solid;
}

.toIndent {
    text-indent: 20px;
    width: 300px;
}

.toIndent:focus {
    background-color: rgba(0, 255, 255, .1);
}

input[type="submit"] {
    width: 100px;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgba(0, 255, 255, .2);
}

span {
    color: red;
    font-size: large;
}