label {
    font-size: large;
}

input {
    font-size: x-large;
    margin-top: 50px;
    margin-bottom: 10px;
}

#container {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100vw;
}

#container > div {
    flex: 1;
}

form {
    width: 300px;
    flex: 2;
}

fieldset {
    border-radius: 10px;
}

legend {
    font-size: xx-large;
}

