* {
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
    padding: 0;
    margin: 0;
    color: aqua;
}

@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 255, 255, 0);
    }
}

header {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: black;
}

a {
    text-decoration: none;
}

header>div {
    flex: 1;
}

header img {
    border-radius: 100px;
    animation: animated-border 2s infinite;
}

header h1 {
    font-size: 90px;
}

header h1 span {
    color: greenyellow;
}

nav[role="navigation"] {
    position: absolute;
    right: 50px;
    top: 0;
    overflow: hidden;
}

nav[role="navigation"] div {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}

.d {
    color: coral;
}

.d span {
    color: gold;
}