* {
    font-family: "Lucida Calligraphy", cursive, serif, sans-serif;
    padding: 0;
    margin: 0;
    color: aqua;
}

a {
    text-decoration: none;
}

@keyframes jump-ball {
    50% {
        top: 30px;
    }
}

@keyframes animated-border {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(0, 250, 250, 0);
    }
}

@keyframes animated-border2 {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 255, 255, 0);
    }
}