<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Just For Me</title>
    <link rel="stylesheet" href="css/index.css"/>
    <link rel="shortcut icon" href="img/Logo.png">
</head>
<body>
    <header role="banner">
        <div>
            <img src="img/Logo.gif" alt="Just For Me" width="200" height="200">
            <h1>Welcome To <span>Just For Me</span></h1>
            <div class="d">This project's main purpose is to <span>check my skill</span>.</div>
            <div class="d">As a programming whiz, my goal is to <span>keep getting stronger</span>.</div>
        </div>
    </header>
    <nav role="navigation">
        <a th:href="@{/toLogin}"><div id="login">Login</div></a>
        <a th:href="@{/toRegister}"><div id="register">Register</div></a>
    </nav>
</body>
</html>