<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Just For Me</title>
    <link rel="shortcut icon" href="img/Logo.png">
    <link rel="stylesheet" href="css/theSame.css">
    <link rel="stylesheet" href="css/forMain.css">
    <script type="text/javascript" src="js/jquery-3.5.1.min.js"></script>
</head>
<body>
<video autoplay muted loop id="sc">
    <source src="mp4/forMain.mp4">
</video>
[[${username}]]:[[${password}]]
</body>
</html>